[Desktop Entry]

# The type as listed above
Type=Application

# The version of the desktop entry specification to which this file complies
Version=0.4

# The name of the application
Name=CAVA visualizer

# A comment which can/will be used as a tooltip
Comment=Audio spectrum visualizer

# The executable of the application.
Exec=cava

# The name of the icon that will be used to display this entry
Icon=/usr/share/cava/icon.png

# Describes whether this application needs to be run in a terminal or not
Terminal=false

# Describes the categories in which this entry should be shown
Categories=Audio;Graphics;

