cava
*.so
*.so.0
*.o
*.a
.deps/
.libs/
Makefile
Makefile.in
aclocal.m4
ar-lib
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
configure
depcomp
iniparser/.libs/
iniparser/Makefile
iniparser/Makefile.in
iniparser/libiniparser.la
iniparser/src/.deps/
iniparser/src/.dirstamp
iniparser/src/dictionary.lo
iniparser/src/iniparser.lo
install-sh
libtool
ltmain.sh
m4/
missing
version
