#define TEXTFILE 256
#define IDR_CONFIG_FILE 101
#define IDR_BAR_SPECTRUM_SHADER 102
#define IDR_NORTHERN_LIGHTS_SHADER 103
#define IDR_PASS_THROUGH_SHADER 104
#define IDR_SPECTROGRAM_SHADER 105
#define IDR_WINAMP_LINE_STYLE_SPECTRUM_SHADER 106
#define IDR_EYE_OF_PHI_SHADER 107
#define IDR_ORION_CIRCLE_SHADER 108
#define IDR_ORION_CIRCLE_ROTATE_SHADER 109
#define IDR_ORION_SATURN_SHADER 110
#define IDR_ORION_CORE_SHADER 111
#define IDR_ORION_SPIRAL_SHADER 112
#define IDR_POLAR_FFT_SHADER 113
#define IDR_POLAR_SMEAR_SHADER 114
#define IDR_ENERGY_BLOB_SHADER 115
#define IDR_KALEIDO_TUNNEL_SHADER 116
#define IDR_LISSAJOUS_RIBBON_SHADER 117
#define IDR_TOPOLOGICAL_RING_COLLAPSE_SHADER 118
#define IDR_SPECTRAL_INTERFERENCE_SHADER 119
#define IDR_PHASE_LOCKED_HARMONIC_FIELD_SHADER 120
#define IDR_TEMPORAL_BLOOM_SHADER 121
#define IDR_FIELD_RADIAL_SHADER 122
#define IDR_SPECTRAL_MASS_SHADER 123
#define IDR_VOID_RING_SHADER 124
#define IDR_PHASE_COHERENCE_CONSTELLATION_SHADER 125
#define IDR_SPECTRAL_MEMORY_IMPRINT_SHADER 126
#define IDR_HARMONIC_LOCK_SHADER 127
#define IDR_ENTROPY_DRIVEN_COLLAPSE_SHADER 128

#define IDR_SOLARIZED_DARK_THEME 501
#define IDR_TRICOLOR_THEME 502


IDR_CONFIG_FILE TEXTFILE "../../example_files/config"
IDR_BAR_SPECTRUM_SHADER TEXTFILE "../../output/shaders/bar_spectrum.frag"
IDR_NORTHERN_LIGHTS_SHADER TEXTFILE "../../output/shaders/northern_lights.frag"
IDR_PASS_THROUGH_SHADER TEXTFILE "../../output/shaders/pass_through.vert"
IDR_SPECTROGRAM_SHADER TEXTFILE "../../output/shaders/spectrogram.frag"
IDR_POLAR_FFT_SHADER TEXTFILE "../../output/shaders/polar_fft.frag"
IDR_POLAR_SMEAR_SHADER TEXTFILE "../../output/shaders/polar_smear.frag"
IDR_ENERGY_BLOB_SHADER TEXTFILE "../../output/shaders/energy_blob.frag"
IDR_KALEIDO_TUNNEL_SHADER TEXTFILE "../../output/shaders/kaleido_tunnel.frag"
IDR_LISSAJOUS_RIBBON_SHADER TEXTFILE "../../output/shaders/lissajous_ribbon.frag"
IDR_TOPOLOGICAL_RING_COLLAPSE_SHADER TEXTFILE "../../output/shaders/topological_ring_collapse.frag"
IDR_SPECTRAL_INTERFERENCE_SHADER TEXTFILE "../../output/shaders/spectral_interference.frag"
IDR_PHASE_LOCKED_HARMONIC_FIELD_SHADER TEXTFILE "../../output/shaders/phase_locked_harmonic_field.frag"
IDR_TEMPORAL_BLOOM_SHADER TEXTFILE "../../output/shaders/temporal_bloom.frag"
IDR_WINAMP_LINE_STYLE_SPECTRUM_SHADER TEXTFILE "../../output/shaders/winamp_line_style_spectrum.frag"
IDR_EYE_OF_PHI_SHADER TEXTFILE "../../output/shaders/eye_of_phi.frag"
IDR_ORION_CIRCLE_SHADER TEXTFILE "../../output/shaders/orion_circle.frag"
IDR_ORION_CIRCLE_ROTATE_SHADER TEXTFILE "../../output/shaders/orion_circle_rotate.frag"
IDR_ORION_SPIRAL_SHADER TEXTFILE "../../output/shaders/orion_spiral.frag"
IDR_ORION_SATURN_SHADER TEXTFILE "../../output/shaders/orion_saturn_subring.frag"
IDR_ORION_CORE_SHADER TEXTFILE "../../output/shaders/orion_saturn_core.frag"
IDR_FIELD_RADIAL_SHADER TEXTFILE "../../output/shaders/field_radial.frag"
IDR_SPECTRAL_MASS_SHADER TEXTFILE "../../output/shaders/spectral_mass.frag"
IDR_VOID_RING_SHADER TEXTFILE "../../output/shaders/void_ring.frag"
IDR_PHASE_COHERENCE_CONSTELLATION_SHADER TEXTFILE "../../output/shaders/phase_coherence_constellation.frag"
IDR_SPECTRAL_MEMORY_IMPRINT_SHADER TEXTFILE "../../output/shaders/spectral_memory_imprint.frag"
IDR_HARMONIC_LOCK_SHADER TEXTFILE "../../output/shaders/harmonic_lock.frag"
IDR_ENTROPY_DRIVEN_COLLAPSE_SHADER TEXTFILE "../../output/shaders/entropy_driven_collapse.frag"

IDR_SOLARIZED_DARK_THEME TEXTFILE "../../output/themes/solarized_dark"
IDR_TRICOLOR_THEME TEXTFILE "../../output/themes/tricolor"
