<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="fftw_339" version="3.3.9.202108273" targetFramework="native" />
  <package id="glew" version="1.9.0.1" targetFramework="native" />
  <package id="glew.redist" version="1.9.0.1" targetFramework="native" />
  <package id="pthreads" version="2.9.1.4" targetFramework="native" />
  <package id="pthreads.redist" version="2.9.1.4" targetFramework="native" />
  <package id="sdl2" version="2.0.5" targetFramework="native" />
  <package id="sdl2.redist" version="2.0.5" targetFramework="native" />
</packages>